.dropdown{
    border-radius: 5px;
    border-color: 1px solid black;
    color:inherit;
    background-color:rgba(0,0,0,0.7) ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px 20px;
   

}