.header{
    
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229,9,20);
    fill: currentColor;
    display: block;
}
.header-logo img{
 height: 90px;
 width: 200px;
 cursor: pointer;
}

.header-actions{
    text-align: right;
}

.Sign In{
    text-align: right;
}